<template>
    <div>
        <div class="flex min-h-screen">
            <sidePanel 
                :current='current' 
                :menu='menu_items'
                :can="can.sidePanel"
            >
            </sidePanel>
            <div class="w-5/6 ml-4 mr-7 relative">
                <admin-nav :notifications="user_notifications" :recent_searches="recent_searches"></admin-nav>
                <!-- <div>
                    {{ msg }}
                </div>
                <div>
                    <input v-model="input" type="text" class="bg-blue-200">
                    <button @click="addToString">add</button>
                </div> -->
                <slot/>
            </div>
        </div>
        <div ref="notification_modal">
            <div v-if="notification" class="animate-slide-next-in fixed top-24 right-10 border-l-4 shadow-md border-green-500 bg-white py-3 px-6 rounded-lg">
                {{ notification.message }}
            </div>
        </div>
    </div>
</template>

<script setup>
import { ref, onMounted, provide, useAttrs } from 'vue'
import sidePanel from '@/admin/sidePanel.vue'
import adminNav from '@/admin/adminNav.vue'
import { io } from 'socket.io-client'
const attrs = useAttrs()

const props = defineProps({
    current: { type: String },
    errors: { type: Object },
    csrf_token: { type: String },
    menu_items: { type: Object },
    can: { type: Object },
    data: { type: [Array, Object] },
    user: { type: Object },
    user_notifications: { type: Array },
    recent_searches: { type: Object }
});

// picked up by the adminNotifications component
// provide('user_notifications', props.user_notifications)
provide('csrf_token', props.csrf_token)
provide('user', props.user)
// provide('recent_searches', props.recent_searches)

let msg = ref('')
let input = ref('')
let notification = ref(null)

const addToString = () => {
    msg.value += input.value + ', '
    input.value = ''
}

onMounted(() => {
    const socket = io('http://localhost:3000') // Match your server URL

    // Listen for 'notification' events
    socket.on('notification', (data) => {
        if (data.data.user.id === props.user.id) {
            notification.value = data.data
            showRTNotification()
        }
    })
})

const notification_modal = ref(null);

const showRTNotification = () => {
    setTimeout(() => {
        if (notification_modal.value) {
            notification_modal.value.children[0].classList.remove('animate-slide-next-in')
            notification_modal.value.children[0].classList.add('animate-slide-prev-out')
        }
        setTimeout(() => {
            notification.value = null
        }, 1800)
    }, 3000)
}
</script>