<template>
    <div class="h-screen">
        <siteMenu :menu="$attrs.menu" />
        <slot />
        <siteFooter />
    </div>
</template>

<script setup>
import siteMenu from '../../vendor/firefly/siteMenu.vue';
import siteFooter from '../../vendor/firefly/siteFooter.vue';
import { computed, useAttrs } from 'vue'

const attrs = useAttrs()
const r = document.querySelector(':root');
r.style.setProperty('--blue', attrs.prime);

</script>