<template>
    <div class="flex flex-col w-full mb-12">
        <div>
            <h2 class="text-2xl/7 font-bold text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight mb-8">
                Edit Role: {{ data?.model?.name }}
            </h2>

            <div v-if="Object.keys(errors).length" class="mb-4 bg-red-100 rounded-md p-3 flex">
                <font-awesome-icon class="text-red-500 text-lg py-[3px] mr-3" icon="circle-exclamation" />
                <div>
                    <h3 class=" font-semibold">Error!</h3>
                    <ul v-for="(error, key) in errors" :key="key" class="list-disc list-inside">
                        <li :key="k">
                            {{ error }}
                        </li>
                    </ul>
                </div>
            </div>

            <div v-for="(field, key) in settingForm" :key="key" class="flex flex-col mb-4 w-full px-2">
                {{ field.label }}
                <Text v-if="field.type === 'text' || field.type ===  'slug'" :slug="field.type === 'slug'" :value="field.value" @update:value="field.value = $event" />
                
                <Select v-if="field.type === 'select'" :value="field.value" :options="field.options" @update:value="field.value = $event" />

                <DateInput v-if="field.type === 'date'" :value="field.value" @update:value="field.value = $event" />

                <MultiSelect v-if="field.type === 'multi select'" :value="field.value" :options="field.options" @update:value="field.value = $event" />

                <input v-if="field.type === 'color'" v-model="field.value" type="color" name="" id="">
            </div>


            <div class="flex flex-wrap justify-between">
                <div v-for="(group, groupName) in permission_groups" :key="groupName" :class="groupName === 'Access CMS' ? 'w-full' : 'w-1/5'" class=" mx-1 my-4 border-2 rounded-lg">
                    <h3 class="px-4 py-2 text-lg font-semibold">{{ groupName }}</h3>
                    <div class="px-4 py-2" v-for="permission in group" :key="permission">
                        <input @change="updateSelectedPermissions(groupName, permission)" :disabled="permission === 'Access CMS'" type="checkbox" :checked="inSelected(groupName, permission)" :value="permission">
                        {{ permission }}
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="my-4 absolute bottom-0 right-0 w-full flex justify-end">
        <Link class="bg-red-400 min-w-36 mx-4 text-center" :href="route('admin.roles.index', '')">Cancel</Link>
        <button @click="save" class="bg-lime-400 min-w-36 mx-4">Save</button>
    </div>
</template>

<script setup>
import Admin from "@fire/Pages/Layouts/Admin.vue"
import { Link, router } from '@inertiajs/vue3';
import { reactive, computed, ref } from 'vue';
import Text from "@fire/vendor/firefly/admin/ContentTypes/Text.vue";
import Select from "@fire/vendor/firefly/admin/ContentTypes/Select.vue";
import DateInput from "@fire/vendor/firefly/admin/ContentTypes/DateInput.vue";
import MultiSelect from "@fire/vendor/firefly/admin/ContentTypes/MultiSelect.vue";

defineOptions({ layout: Admin })

const props = defineProps({
    data: { type: [Array, Object] },
    csrf_token: { type: String },
    errors: { type: Object }
});

const settingForm = reactive({
    name: {
        label: 'Name',
        type: 'text',
        value: props.data.model.name ?? '',
    },
});

// Convert permissions to groups of permissions by type (Pages, Forms, etc.)
const permission_groups = computed(() => {
    return props.data.options.permissions.options.reduce((groups, permission) => {
        if (permission === 'Access CMS') {
            groups['Access CMS'] = [permission];
        } else {
            const [group, perm] = splitOnLastSpace(permission);
            if (!groups[group]) {
                groups[group] = [];
            }
            groups[group].push(perm);
        }
        return groups;
    }, {});
});

const selected_permissions_groups = computed(() => {
    return props.data.model.permissions.reduce((groups, permission) => {
        if (permission.name === 'Access CMS') {
            groups['Access CMS'] = [permission.name];
        } else {
            const [group, perm] = splitOnLastSpace(permission.name);
            if (!groups[group]) {
                groups[group] = [];
            }
            groups[group].push(perm);
        }
        return groups;
    }, {});
});

const splitOnLastSpace = (str) => {
    const lastIndex = str.lastIndexOf(' '); // Find the last occurrence of a space

    if (lastIndex === -1) {
        // If there is no space, return the original string as the only element in an array
        return [str];
    }

    // Split the string into two parts: before and after the last space
    const beforeLastSpace = str.substring(0, lastIndex);
    const afterLastSpace = str.substring(lastIndex + 1);

    return [beforeLastSpace, afterLastSpace];
}

const inSelected = (group, permission) => {
    if (selected_permissions_groups.value[group]) {
        return selected_permissions_groups.value[group].includes(permission);
    } else {
        return false;
    }
}

const updateSelectedPermissions = (group, permission) => {
    if (selected_permissions_groups.value[group]) {
        if (selected_permissions_groups.value[group].includes(permission)) {
            selected_permissions_groups.value[group] = selected_permissions_groups.value[group].filter(p => p !== permission);
        } else {
            selected_permissions_groups.value[group].push(permission);
        }
    } else {
        selected_permissions_groups.value[group] = [permission];
    }
}

const save = () => {
    const values = Object.keys(settingForm).reduce((acc, key) => {
        acc[key] = settingForm[key].value;
        return acc;
    }, {});

    router.patch(`/admin/roles/${props.data?.model?.id}`, {
        ...values,
        permissions: selected_permissions_groups.value
    })
}
</script>