<script setup>
import { Head } from '@inertiajs/vue3';
import Admin from "@fire/Pages/Layouts/Admin.vue"

defineOptions({ layout: Admin })

const props = defineProps({
    can: { type: Object },
    tenantSettings: { type: Object },
    csrf_token: { type: String },
});

const save = () => {
    fetch('/admin/settings', {
        method: 'POST',
        headers: {
            Accept: 'application/json',
            'Content-Type': 'application/json;charset=utf-8',
            'X-CSRF-TOKEN': props.csrf_token,
        },
        body: JSON.stringify({'settings': props.tenantSettings}),
    }).then(() => {
        window.location.reload();
    })
}
</script>

<template>
<div class="flex">
    <div>
        <h1>Settings</h1>

        <!-- {{ tenantSettings }} -->

        primary_color
        <input v-model="tenantSettings.primary_color" type="color" name="" id="">
        secondary_color
        <input v-model="tenantSettings.secondary_color" type="color" name="" id="">

        <button @click="save" class="bg-lime-400 w-16">Save</button>
    </div>
</div>

</template>