@import 'tailwindcss';
@import '@mrbakieness/firefly-ui/css';

@theme {
  --animate-slide-up: slide 0.3s linear;
  --animate-slide-down: slide 0.3s reverse forwards;
  --animate-slide-next-in: right_center 0.2s linear forwards;
  --animate-slide-next-out: center_left 0.2s linear forwards;
  --animate-slide-prev-in: left_center 0.2s linear forwards;
  --animate-slide-prev-out: center_right 0.2s linear forwards;
  --animate-open-dash: 0.3s open_panel 0.3s linear forwards;
  --animate-grow-dash: 0.2s grow_margin 0.3s linear forwards;

  --color-firefly-yellow: #ffcb2e;
  --color-primary: var(--blue);
  --color-firefly-orange: #ff7400;
  --color-firefly-light: #ffefbe;
  --color-firefly-green: #00a86b;
  --color-firefly-teal: #00a6a6;
  --color-firefly-midnight-blue: #002d72;

  @keyframes slide {
    0% {
      transform: translateY(110%);
    }
    100% {
      transform: translateY(0%);
    }
  }
  @keyframes center_left {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  @keyframes left_center {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  @keyframes right_center {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  @keyframes center_right {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(300%);
    }
  }
  @keyframes open_panel {
    0% {
      height: 0;
    }
    100% {
      height: 500px;
    }
  }
  @keyframes grow_margin {
    0% {
      margin-bottom: 0;
    }
    100% {
      margin-bottom: 14rem;
    }
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

body {
    background: #F7F8FA;
}