<template>
    <div>
        <contentArea :content="content" />
    </div>
</template>

<script setup>
import Default from '../Layouts/Default.vue';
import contentArea from '@pages/vendor/firefly/Content/contentArea.vue';
import { useAttrs } from 'vue'

defineOptions({ layout: Default })

const props = defineProps({
    content: Array,
})

const attrs = useAttrs()
const r = document.querySelector(':root');
r.style.setProperty('--blue', attrs.prime);

</script>