<script setup>
import Admin from "@fire/Pages/Layouts/Admin.vue"
import { Link } from '@inertiajs/vue3';
import { capitalize } from 'vue';

defineOptions({ layout: Admin })

const props = defineProps({
    data: { type: [Array, Object]  },
    csrf_token: { type: String }
});
</script>

<template>
    <div class="w-full">
        <h2 class="text-2xl/7 font-bold text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight mb-8">Menus</h2>

        <Link :href="route('admin.menus.create')">
            <button class="rounded-md bg-firefly-yellow py-2 px-4 hover:bg-firefly-yellow/70">
                Create
            </button>
        </Link>

        <table class="w-full text-left mt-8">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Items</th>
                    <th class=" w-1/12">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="d in data" :key="d.id">
                    <td>{{ capitalize(d.name) }}</td>
                    <td>{{ d.menu_items_count }}</td>
                    <td class="flex justify-evenly">
                        <Link :href="route('admin.menus.edit', d.id)">
                            <font-awesome-icon class="p-2 hover:bg-slate-300 rounded-md " icon="pen-to-square" />
                        </Link>
                        <Link method="delete" :href="route('admin.menus.destroy', d.id)">
                            <font-awesome-icon class="p-2 hover:bg-slate-300 rounded-md text-red-500" icon="trash" />
                        </Link>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>