<template>
    <div class="flex flex-col w-full mb-12">
        <div>
            <h2 class="text-2xl/7 font-bold text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight mb-8">
                Create Tier
            </h2>

            <div v-if="Object.keys(errors).length" class="mb-4 bg-red-100 rounded-md p-3 flex">
                <font-awesome-icon class="text-red-500 text-lg py-[3px] mr-3" icon="circle-exclamation" />
                <div>
                    <h3 class=" font-semibold">Error!</h3>
                    <ul v-for="(error, key) in errors" :key="key" class="list-disc list-inside">
                        <li :key="k">
                            {{ error }}
                        </li>
                    </ul>
                </div>
            </div>

            <div v-for="(field, key) in settingForm" :key="key" class="flex flex-col mb-4 w-full px-2">
                {{ field.label }}
                <Text v-if="field.type === 'text' || field.type ===  'slug'" :slug="field.type === 'slug'" :value="field.value" @update:value="field.value = $event" />
                
                <Select v-if="field.type === 'select'" :value="field.value" :options="field.options" @update:value="field.value = $event" />

                <DateInput v-if="field.type === 'date'" :value="field.value" @update:value="field.value = $event" />

                <MultiSelect v-if="field.type === 'multi select'" :value="field.value" :options="field.options" @update:value="field.value = $event" />

                <input v-if="field.type === 'color'" v-model="field.value" type="color" name="" id="">

            </div>
        </div>
    </div>

    <div class="my-4 absolute bottom-0 right-0 w-full flex justify-end">
        <Link class="bg-red-400 min-w-36 mx-4 text-center" :href="route('admin.users.index', '')">Cancel</Link>
        <button @click="save" class="bg-lime-400 min-w-36 mx-4">Save</button>
    </div>
</template>

<script setup>
import Admin from "@fire/Pages/Layouts/Admin.vue"
import { Link, router } from '@inertiajs/vue3';
import { reactive } from 'vue';
import Text from "@fire/vendor/firefly/admin/ContentTypes/Text.vue";
import Select from "@fire/vendor/firefly/admin/ContentTypes/Select.vue";
import DateInput from "@fire/vendor/firefly/admin/ContentTypes/DateInput.vue";
import MultiSelect from "@fire/vendor/firefly/admin/ContentTypes/MultiSelect.vue";

defineOptions({ layout: Admin })

const props = defineProps({
    data: { type: [Array, Object] },
    csrf_token: { type: String },
    errors: { type: Object }
});

const settingForm = reactive({
    name: {
        label: 'Name',
        type: 'text',
        value: props.data.model.name ?? '',
    },
    color: {
        label: 'Color',
        type: 'color',
        value: props.data.model.color ?? '#FFFFFF',
    },
});

const save = () => {
    const values = Object.keys(settingForm).reduce((acc, key) => {
        acc[key] = settingForm[key].value;
        return acc;
    }, {});

    router.post('/admin/tiers', values)
}
</script>