<template>
    <div class="flex flex-col w-full mb-12">
        <div>
            <h2 class="text-2xl/7 font-bold text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight mb-8">
                Edit User: {{ data?.model?.fname }} {{ data?.model?.lname }}
            </h2>

            <div v-if="Object.keys(errors).length" class="mb-4 bg-red-100 rounded-md p-3 flex">
                <font-awesome-icon class="text-red-500 text-lg py-[3px] mr-3" icon="circle-exclamation" />
                <div>
                    <h3 class=" font-semibold">Error!</h3>
                    <ul v-for="(error, key) in errors" :key="key" class="list-disc list-inside">
                        <li :key="k">
                            {{ error }}
                        </li>
                    </ul>
                </div>
            </div>

            <div v-for="(field, key) in settingForm" :key="key" class="flex flex-col mb-4 w-full px-2">
                {{ field.label }}
                <Text v-if="field.type === 'text' || field.type ===  'slug'" :slug="field.type === 'slug'" :value="field.value" @update:value="field.value = $event" />
                
                <Select v-if="field.type === 'select'" :value="field.value" :options="field.options" @update:value="field.value = $event" />

                <DateInput v-if="field.type === 'date'" :value="field.value" @update:value="field.value = $event" />

                <MultiSelect v-if="field.type === 'multi select'" :value="field.value" :options="field.options" @update:value="field.value = $event" />
            </div>
        </div>
    </div>

    <div class="my-4 absolute bottom-0 right-0 w-full flex justify-end">
        <Link class="bg-red-400 min-w-36 mx-4 text-center" :href="route('admin.users.index', '')">Cancel</Link>
        <button @click="save" class="bg-lime-400 min-w-36 mx-4">Save</button>
    </div>
</template>

<script setup>
import Admin from "@fire/Pages/Layouts/Admin.vue"
import { Link, router } from '@inertiajs/vue3';
import { reactive } from 'vue';
import Text from "@fire/vendor/firefly/admin/ContentTypes/Text.vue";
import Select from "@fire/vendor/firefly/admin/ContentTypes/Select.vue";
import DateInput from "@fire/vendor/firefly/admin/ContentTypes/DateInput.vue";
import MultiSelect from "@fire/vendor/firefly/admin/ContentTypes/MultiSelect.vue";
import countries from '@pages/countries';

defineOptions({ layout: Admin })

const props = defineProps({
    data: { type: [Array, Object] },
    csrf_token: { type: String },
    errors: { type: Object }
});

const settingForm = reactive({
    fname: {
        label: 'First Name',
        type: 'text',
        value: props.data.model.fname ?? '',
    },
    lname: {
        label: 'Last Name',
        type: 'text',
        value: props.data.model.lname ?? '',
    },
    email: {
        label: 'Email',
        type: 'text',
        value: props.data.model.email ?? '',
    },
    profile_image: {
        label: 'Profile Image',
        type: 'image',
        value: props.data.model.profile_image ?? '',
    },
    account_type: {
        label: 'Account Type',
        type: 'select',
        value: props.data.model.account_type ?? props.data.options.account_type.default,
        options: props.data.options.account_type.options
    },
    gender: {
        label: 'Gender',
        type: 'select',
        value: props.data.model.gender ?? props.data.options.gender.default,
        options: props.data.options.gender.options
    },
    dob: {
        label: 'Date of Birth',
        type: 'date',
        value: props.data.model.dob.split('T')[0] ?? '',
    },
    country: {
        label: 'Country',
        type: 'select',
        value: props.data.model.country ?? '',
        options: countries.countries
    },
    language: {
        label: 'Language',
        type: 'select',
        value: props.data.model.language ?? '',
        options: countries.languages
    },
    business_role: {
        label: 'Business Role',
        type: 'text',
        value: props.data.model.business_role ?? '',
    },
    business_name: {
        label: 'Business Name',
        type: 'text',
        value: props.data.model.business_name ?? '',
    },
    marketing: {
        label: 'Marketing',
        type: 'select',
        value: props.data.model.marketing ?? props.data.options.marketing.default,
        options: props.data.options.marketing.options
    },
    role: {
        label: 'Role',
        type: 'select',
        value: props.data.model.roles.map((role) => {
            return role.name;
        })[0] ?? 'None',
        options: props.data.options.roles.options
    },
    tiers: {
        label: 'Tiers',
        type: 'multi select',
        value: props.data.model.tiers.map((tier) => {
            return tier.name;
        }) ?? props.data.options.tiers.default,
        options: props.data.options.tier.options
    }
});

const save = () => {
    const values = Object.keys(settingForm).reduce((acc, key) => {
        acc[key] = settingForm[key].value;
        return acc;
    }, {});

    router.patch(`/admin/users/${props.data?.model?.id}`, values)
}
</script>