<script setup>
import Admin from "@fire/Pages/Layouts/Admin.vue"
import { capitalize } from 'vue';
import { Link } from '@inertiajs/vue3';

defineOptions({ layout: Admin })

const props = defineProps({
    data: { type: [Array, Object]  },
    csrf_token: { type: String },
    badgeColors: { type: Object }
});


const hexToRgb = (hex) => {
    // Remove the hash at the start if it's there
    hex = hex.replace(/^#/, '');

    // Parse r, g, b values
    const bigint = parseInt(hex, 16);
    const r = (bigint >> 16) & 255;
    const g = (bigint >> 8) & 255;
    const b = bigint & 255;

    return { r, g, b };
}

const getLuminance = (hex) => {
    const { r, g, b } = hexToRgb(hex);

    // Normalize RGB values to [0, 1]
    const R = r / 255;
    const G = g / 255;
    const B = b / 255;

    // Calculate luminance
    const luminance = 0.2126 * R + 0.7152 * G + 0.0722 * B;
    return luminance;
}

const getTextColor = (hex) => {
    const luminance = getLuminance(hex);
    return luminance > 0.7 ? 'text-black' : 'text-white'; // Use black for light backgrounds, white for dark
}

</script>

<template>
<div class="w-full">
    <h2 class="text-2xl/7 font-bold text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight mb-8">Users</h2>

    <Link :href="route('admin.users.create')">
        <button class="rounded-md bg-firefly-yellow py-2 px-4 hover:bg-firefly-yellow/70">
            Create
        </button>
    </Link>

    <table class="w-full text-left mt-8">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th class="w-1/12">Admin</th>
                <th class="w-4/12">Tiers</th>
                <th class=" w-1/12">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="d in data" :key="d.id">
                
                <td>{{ capitalize(d.fname) }} {{ capitalize(d.lname) }}</td>
                <td>{{ d.email }}</td>
                <td>
                    <div>
                        <font-awesome-icon class="text-green-500" v-if="d.roles.length > 0" icon="check" />
                        <font-awesome-icon class="text-red-500" v-else icon="xmark" />
                    </div>
                </td>
                <td>
                    <div class="flex flex-wrap">
                        <span v-for="t in d.tiers" :key="t.id" :style="`background: ${badgeColors[t.name]};`" :class="getTextColor(badgeColors[t.name])" class="px-3 py-[2px] font-semibold text-sm flex items-center justify-center rounded-full my-2 mr-2">
                            {{ t.name.toUpperCase() }}
                        </span>
                    </div>
                </td>
                <td class="flex justify-evenly">
                    <Link :href="route('admin.users.edit', d.id)">
                        <font-awesome-icon class="p-2 hover:bg-slate-300 rounded-md " icon="pen-to-square" />
                    </Link>
                    <Link method="delete" :href="route('admin.users.destroy', d.id)">
                        <font-awesome-icon class="p-2 hover:bg-slate-300 rounded-md text-red-500" icon="trash" />
                    </Link>
                </td>
            </tr>
        </tbody>
    </table>
</div>

</template>