<script setup>
import Admin from "@fire/Pages/Layouts/Admin.vue"
import { Link } from '@inertiajs/vue3';

defineOptions({ layout: Admin })


</script>

<template>
<div class="flex">
</div>

</template>