<script setup>
import Admin from "@fire/Pages/Layouts/Admin.vue"
import ContentType from "@pages/vendor/firefly/admin/ContentTypes/ContentType.vue"
import { Link, router } from '@inertiajs/vue3';
import { ref, reactive, computed, watch } from 'vue';
import { v4 as uuidv4 } from 'uuid';
import Text from "@fire/vendor/firefly/admin/ContentTypes/Text.vue";
import Select from "@fire/vendor/firefly/admin/ContentTypes/Select.vue";
import DateInput from "@fire/vendor/firefly/admin/ContentTypes/DateInput.vue";
import { VueDraggableNext } from 'vue-draggable-next'
import MultiSelect from "@fire/vendor/firefly/admin/ContentTypes/MultiSelect.vue";

defineOptions({ layout: Admin })

const props = defineProps({
    data: { type: [Array, Object] },
    csrf_token: { type: String },
    errors: { type: Object }
});

const today = new Date();
const formattedDate = `${today.getFullYear()}-${String(today.getMonth() + 1).padStart(2, '0')}-${String(today.getDate()).padStart(2, '0')}`;

const settingForm = reactive({
    title: {
        label: 'Title',
        type: 'text',
        value: props.data.model.title ?? '',
    },
    slug: {
        label: 'Slug',
        type: 'slug',
        value: props.data.model.slug ?? '',
    },
    template: {
        label: 'Template',
        type: 'select',
        value: props.data.model.template ?? props.data.options.template.default,
        options: props.data.options.template.options
    },
    publish_at: {
        label: 'Publish At',
        type: 'date',
        value: props.data.model.publish_at ?? '',
    },
    tiers: {
        label: 'Tiers',
        type: 'multi select',
        value: props.data.model.tiers.map((tier) => {
                return tier.name;
            }) ?? props.data.options.tiers.default,
        options: props.data.options.tier.options
    }
});


watch(settingForm.title, async (newTitle, oldTitle) => {
    settingForm.slug.value = newTitle.value.toLowerCase().replace(/[^a-z0-9]+/g, '-').replace(/(^-|-$)+/g, '');
})

const tab = ref('settings');

const setTab = (tabName) => {
    tab.value = tabName;
}

const menuVisible = ref(false);
const menuPosition = ref({ x: 0, y: 0 });
const allOptions = Object.keys(props.data.content_types)
    .sort();

// Divide the options into two columns
const firstColumn = computed(() => allOptions.slice(0, Math.ceil(allOptions.length / 2)));
const secondColumn = computed(() => allOptions.slice(Math.ceil(allOptions.length / 2)));


const showMenu = (event) => {
    event.stopPropagation();
    // Set the menu position to the mouse pointer position
    let x = event.clientX;
    let y = event.clientY;

    // Check if the menu overflows below the page
    const menuHeight = 160; // Adjust this value based on your menu's height
    if (y + menuHeight > window.innerHeight) {
        y = window.innerHeight - menuHeight;
    }

    // Adjust for scroll position
    const scrollX = window.scrollX
    const scrollY = window.scrollY

    menuPosition.value = { x: x + scrollX - 280, y: y + scrollY };
    menuVisible.value = true;

    // Add a listener to close the menu when clicking elsewhere
    document.addEventListener('click', hideMenu);
};

const hideMenu = () => {
    menuVisible.value = false;
    document.removeEventListener('click', hideMenu);
};

const save = (publishOnSave) => {
    router.patch(`/admin/pages/${props.data?.model?.id}`, {
        'title': settingForm.title.value,
        'slug': settingForm.slug.value,
        'template': settingForm.template.value,
        'content': props.data?.model?.content,
        'publish': publishOnSave,
        'publish_at': settingForm.publish_at.value,
        'tiers': settingForm.tiers.value,
    })
}

const addContent = (type) => {
    if (!Array.isArray(props.data.model.content)) {
        props.data.model.content = []
    }
    
    props.data.model.content.push({ 
        "id": uuidv4(),
        "type": type, 
        "content": JSON.parse(JSON.stringify(props.data.content_types[type].fields))
    })
}

const deleteContent = (id) => {
    props.data.model.content = props.data.model.content.filter(content => content.id !== id);
}
</script>

<template>
    <div class="flex flex-col w-full mb-12">
        <div>
            <h2 class="text-2xl/7 font-bold text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight mb-8">
                Edit Page: {{ data?.model?.title }}
            </h2>

            <div v-if="Object.keys(errors).length" class="mb-4 bg-red-100 rounded-md p-3 flex">
                <font-awesome-icon class="text-red-500 text-lg py-[3px] mr-3" icon="circle-exclamation" />
                <div>
                    <h3 class=" font-semibold">Error!</h3>
                    <ul v-for="(error, key) in errors" :key="key" class="list-disc list-inside">
                        <li :key="k">
                            {{ error }}
                        </li>
                    </ul>
                </div>
            </div>

            <!-- tabs -->
            <div class="flex space-x-4">
                <button @click="setTab('settings')" :class=" tab === 'settings' ? 'border-lime-400 font-semibold' : 'border-gray-200'" class="min-w-28 border-b-2 px-4 py-2">Settings</button>
                <button @click="setTab('content')" :class=" tab === 'content' ? 'border-lime-400 font-semibold' : 'border-gray-200'" class="min-w-28 border-b-2 px-4 py-2">Content</button>
            </div>
    
            <!-- content -->
            <div :class="tab === 'content' ? 'block' : 'hidden'">
                <vue-draggable-next 
                    handle=".handle"
                    :group="{ name: 'people', pull: 'clone', put: false }"
                    ghost-class="ghost"
                    :list="data?.model?.content"
                    :animation="200"
                    >
                    <div v-for="content in data?.model?.content">
                        <content-type :id="content.id" :type="content.type" :fields="content.content" @destroy="deleteContent"></content-type>
                    </div>
                </vue-draggable-next>

                <div 
                    @click.prevent="showMenu($event)" 
                    class="flex justify-center items-center cursor-pointer border-dashed border-2 border-lime-400 rounded-3xl w-full p-8 my-4"
                >
                    <font-awesome-icon icon="circle-plus" class="text-4xl mr-2" />
                    Add a new content block
                </div>
    
                <div 
                    v-if="menuVisible" 
                    :style="{ top: `${menuPosition.y}px`, left: `${menuPosition.x}px` }" 
                    class="absolute z-50 bg-white shadow-lg border border-gray-300 rounded-md"
                    @click="hideMenu"
                >
                    <div class="flex space-x-4 p-2">
                        <ul class="space-y-2">
                            <li 
                            v-for="option in firstColumn" 
                            :key="option" 
                            @click="addContent(option)" 
                            class="px-6 py-2 hover:bg-gray-100 cursor-pointer"
                            >
                                {{ option.charAt(0).toUpperCase() + option.slice(1) }}
                            </li>
                        </ul>
                        <ul class="space-y-2">
                            <li 
                            v-for="option in secondColumn" 
                            :key="option" 
                            @click="addContent(option)" 
                            class="px-6 py-2 hover:bg-gray-100 cursor-pointer"
                            >
                                {{ option.charAt(0).toUpperCase() + option.slice(1) }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- settings -->
            <div :class="tab === 'settings' ? 'block' : 'hidden'">
                <div v-for="(field, key) in settingForm" :key="key" class="flex flex-col mb-4 w-full px-2">
                    {{ field.label }}
                    <Text v-if="field.type === 'text' || field.type ===  'slug'" :slug="field.type === 'slug'" :value="field.value" @update:value="field.value = $event" />
                    
                    <Select v-if="field.type === 'select'" :value="field.value" :options="field.options" @update:value="field.value = $event" />

                    <DateInput v-if="field.type === 'date'" :value="field.value" @update:value="field.value = $event" />

                    <MultiSelect v-if="field.type === 'multi select'" :value="field.value" :options="field.options" @update:value="field.value = $event" />
                </div>
            </div>
        </div>

    </div>

    <div class="my-4 absolute bottom-0 right-0 w-full flex justify-end">
        <Link class="bg-red-400 min-w-36 mx-4 text-center" :href="route('admin.pages.index', '')">Cancel</Link>
        <button @click="save(false)" class="bg-lime-400 min-w-36 mx-4">Save as Draft</button>
        <button @click="save(true)" class="bg-lime-400 min-w-36 mx-4">Save and Publish</button>
    </div>
    
</template>