<script setup>
import Admin from "@fire/Pages/Layouts/Admin.vue"
import { Link, usePoll } from '@inertiajs/vue3';

defineOptions({ layout: Admin })

const props = defineProps({
    data: { type: [Array, Object]  },
    csrf_token: { type: String }
});


const { start, stop } = usePoll(1000, {}, {
    autoStart: false,
})

const publishPage = async (id) => {
    start(); // Start the polling
    try {
        await fetch(`/admin/pages/${id}/publish`, {
            method: 'POST',
            headers: {
                'X-CSRF-TOKEN': props.csrf_token,
            },
        }).then(async (response) => {
            if (response.ok) {
                const result = await response.json();
                props.data = result.data; // Update the data prop with the new pages data
            }
        })
    } catch (error) {
    } finally {
        setTimeout(() => {
            stop(); // Stop the polling
        }, 10000)
    }
}
</script>

<template>
    <div class="w-full">
        <h2 class="text-2xl/7 font-bold text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight mb-8">Pages</h2>

        <Link :href="route('admin.pages.create')">
            <button class="rounded-md bg-firefly-yellow py-2 px-4 hover:bg-firefly-yellow/70">
                Create
            </button>
        </Link>

        <table class="w-full text-left mt-8">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Slug</th>
                    <th>Published</th>
                    <th class=" w-1/12">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="d in data" :key="d.id">
                    <td>{{ d.title }}</td>
                    <td>{{ d.slug }}</td>
                    <td>
                        <button @click="publishPage(d.id)">
                            <font-awesome-icon class="text-green-500" v-if="d.published" icon="check" />
                            <font-awesome-icon class="text-red-500" v-else icon="xmark" />
                        </button>
                    </td>
                    <td class="flex justify-evenly">
                        <Link :href="route('admin.pages.edit', d.id)">
                            <font-awesome-icon class="p-2 hover:bg-slate-300 rounded-md " icon="pen-to-square" />
                        </Link>
                        <Link method="delete" :href="route('admin.pages.destroy', d.id)">
                            <font-awesome-icon class="p-2 hover:bg-slate-300 rounded-md text-red-500" icon="trash" />
                        </Link>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>