<script setup>
// import Layout from './Layout'
import auth from '@/auth/auth.vue'
import { Head } from '@inertiajs/vue3'
</script>

<template>
<div>
    <auth type='login'>
    </auth>
</div>

</template>